*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
    overflow-x: hidden;
    /* border: 2px solid black; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: white;
    
}
.dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 15px;  
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
nav ul{
    display: flex;
    align-items: center;
}
nav ul li img{
    width: 80px;
    height: 40px;
    background: transparent;
}
.cart-icon img{
    width: 40px;
    height: 20px;
}
nav ul li{
    list-style: none;
    height: 40px;
    margin: 0 5px;
    padding: 0 5px;
    display: flex;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
nav ul li:hover{
    background-color: yellow;
    border-radius: 0px;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 0 5px;
    padding: 0 5px;
} 

.home-container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right,lightcyan 50%,lightblue 50%);
}
.home-container-matter{
position: absolute;
width: fit-content;
top: 37%;
left: 7%;
}
.home-container h1{
    font-size: 30px;
    font-weight: 700;
    color: black;
}
.home-container p{
    font-size: 20px;
    color: black;
    margin-top: 10px;
}
.home-container button{
    padding: 5px 10px;
    font-size: 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 25px;
    margin-top: 10px;
    cursor: pointer;
}
.home-container button:hover{
    background-color: yellow;
    color: black;
}
.banner-image img{
    width: 450px;
    height: 450x;
    position: relative;
    top: 22%;
    left: 80%;
}
 .offer img{
    width: 60px;
    height: 50px;
    position: absolute;
    top: 34%;
    left: 730px;
 }
.coursouel{
    position: relative;
    top: 0;
    margin-top: 10px;
    height: 100%;
}
.coursouel h1{
    font-size: 30px;
    font-weight: 500;
    color: black;
    text-align: center;
    margin-top: 10px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin-top: 20px;
    padding: 0 0px; 
}
.image{
    width: auto;
    height: 30px;
}
.image img{
    width: 35px;
    height: 35px;
    margin: 0 auto;
}
.image p{
    font-size: 15px;
    font-weight: 500;
    color: black;
    margin-top: 10px;
    text-align: center;
}
.products{
    margin-top: 50px;
}
.products-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.products-row ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.products-row ul a{
    text-decoration: none;
    color: black;
    margin: 0 25px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 10px;
    justify-items: center;
    gap: 10px;
}
.product-card{
    position: relative;
    top: 0;
    width: 100%;
    height: 400px;
    background-color: white;
    padding: 25px;
}
.product-card img{
    position: relative;
    top: 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 50px;
    margin-top: 10px;
}
.product-card img:hover{
    width: 100%;
    transform: scale(1.1);
    transition: transform 0.5s;
}
.product-card p{
    color: black;
    text-align: center;
    font-size: 15px;;
}
.product-card a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
    text-decoration: none;
    margin: 5px;
}
.side-badge{
    position: absolute;
    right: 0;
    top: -10px;
}
.side-badge img{
    width: 40px;
    height: 60px;
}
.banner-footer img{
    width:100%;
}

/* footer */
.footer{
    background-color: white;
    margin-top: 20px;
    padding: 10px;
}
.footer-details{
    margin-top: 10px;
    padding: 5px 0;
    background-color: lightgray;
}
.footer-details h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer-details p{
    font-size: 15px;
    color: black;
    text-align: left;
}
.container-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
}
.container-footer .col ol li{
    list-style: none;
    margin: 10px;
}
.col-banner{
    display:flex;
    flex-direction: row;width: 500px;
}
.col-banner img{
    width: 75px;
    height: 25px;
}


@media screen and (max-width:800px) {
    body{
        overflow-x: hidden;
    }
    nav{  
        width: 100%;
        height: 50px;
        position: fixed;
        top: 0;
    }
    nav ul li a{
        font-size: 12px;
    }
    nav ul li img{
        width: 50px;
        height: 30px;
    }
    .home-container{
        margin-top: 50px;
        display: grid;
        width: 100%;
        height: fit-content;
        background-image: linear-gradient(to right,lightcyan ,lightblue);
    }
    .home-container-matter{
        position: relative;
        top: 40%;
        left: 25%;
        width: fit-content;   
    }
    .banner-image{
        position: relative;
        width: fit-content;
        top: 0;
        left: 0;
    }
    .banner-image img{
        width: 250px;
        height: 250px;
        position: relative;
        width: fit-content;
        top: 0;
        left: 80%;
    }
    .offer img{
        width: 30px;
        height: 28px;
        position: absolute;
        top: 55px;
        width: fit-content;
        left: 440px;
    }
    .coursouel{
        width: 100vw;
    }
    .coursouel h1{
        font-size: 20px;
    }
    .row{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        justify-items: center;
        align-items: center;
        height:auto;
        margin-top: 20px;
        padding: 0 0px;
        margin: 0 10px;
    }
    .image{
        width: auto;
        height: 30px;
        display: grid;
        justify-items: center;
        align-items: center;
        padding: 40px 10px;
    }
    .products-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 10px;
        justify-items: center;
        align-items: center;
    }
    .footer-details h1{
        font-size: 15px;
    }
    .container-footer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100vw;
    }
    .col-banner{
        display: flex;
        flex-direction: column;
        width: 250px;
    }
    .col-banner p{
        font-size: 10px;
    }
    .col ol li{
        font-size: 10px;

    }
}